.card-product {
  width: 220px;
  height: 304px;
  border: 1px solid rgba(221, 218, 218, 1);
  padding: 14px 13px 20px;

  letter-spacing: 0.05em;
  &:not(:nth-child(3n)) {
    margin-right: 20px;
  }

  &:nth-child(-n + 6) {
    margin-bottom: 30px;
  }

  &--electro {
    padding-top: 11px;
  }
}

.card-product__image {
  width: 68px;
  height: 190px;
  margin: 0 auto 9px;
  &--electro {
    width: 79px;
    margin: 0 auto 9px;
  }
}

.card-product__rating {
  display: flex;
  align-items: center;
  margin-bottom: 6px;
}

.card-product__star {
  height: 12px;
  width: 12px;
  margin-right: 2px;
  &:not(:last-child) {
    background: url(../../img/icon-star.svg) no-repeat center;
  }
  &:last-child {
    background: url(../../img/icon-star-half.svg) no-repeat center;
  }
}

.card-product__popularity {
  @include font(10px, $color: rgba(159, 158, 158, 1));
  align-self: flex-end;
  height: 12px;
  width: 12px;
}

.card-product__data-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &:not(&--buttons) {
    margin-bottom: 14px;
  }
}
.card-product__button {
  font-size: 12px;
  &--buy {
    padding-left: 28px;
    padding-right: 14px;
    background-image: url(../../img/cart.svg);
    background-repeat: no-repeat;
    background-position: 11px center;
  }
}
