.cart-item {
  display: flex;
  position: relative;
  padding: 22px 0 17px 44px;
  width: 100%;
  justify-content: space-between;
  border-bottom: 0.7px solid rgba(221, 218, 218, 1);

  &:first-child {
    border-top: 0.7px solid rgba(221, 218, 218, 1);
  }
  &--electro {
    padding: 21px 0 19px 40px;
  }
}

.cart-item__image {
  width: 48px;
  height: 124px;
  margin-right: 71px;
  margin-right: 62px;

  &--electro {
    width: 61px;
    margin-right: 51px;
  }
}

.cart-item__button-close {
  top: 20px;
  left: 0;
}

.cart-item__wrapper {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.cart-item__data {
  align-self: flex-start;
  flex-grow: 1;
}

.cart-item__title {
  @include font(16px, $weight: 700);
  text-transform: uppercase;
  margin: 0 0 14px 0;
}

.cart-item__data p {
  margin: 0 0 6px 0;
}

.cart-item__price {
  font-size: 20px;
  width: 160px;
  margin: 0;
  text-align: center;
}

.cart-item__buttons-wrapper {
  align-self: flex-start;
  display: flex;
  width: 160px;
  padding-top: 20px;
  padding-left: 40px;
}

.cart-item__button {
  border-radius: 2px;
  cursor: pointer;
  @include font(16px, $color: rgba(159, 158, 158, 1));
  text-align: center;
  min-width: 28px;
  height: 30px;
  background-color: transparent;
  padding-bottom: 4px;

  &:not(&--count) {
    border: 0.7px solid rgba(159, 158, 158, 1);
  }
  &--count {
    border-top: 0.7px solid rgba(159, 158, 158, 1);
    border-bottom: 0.7px solid rgba(159, 158, 158, 1);
    padding-top: 6px;
  }
}

.cart-item__sum {
  font-size: 20px;
  font-weight: 700;
  margin: 0;
  width: 160px;
  text-align: end;
}
