.filter {
  padding-top: 24px;
}

.filter h2,
.filter h3 {
  margin: 0;
  @include font(18px, 21px, 700);
  letter-spacing: 0.05em;
}

.filter h2 {
  margin-bottom: 27px;
}

.filter h3 {
  margin-bottom: 23px;
}

.filter__fieldset {
  border: none;
  border-top: 0.7px solid rgba(221, 218, 218, 1);
  padding: 31px 0 30px;
  margin: 0;
}

.filter__price-wrapper {
  display: flex;
  justify-content: space-between;
}
.filter__input-price {
  @include font(14px, 10px);
  text-align: center;
  width: 84px;
  height: 28px;
  border: 0.7px solid rgba(159, 158, 158, 1);
  border-radius: 2px;
}

.filter__checkbox-wrapper {
  &:not(:last-child) {
    margin-bottom: 14px;
  }
}

.filter__checkbox + label {
  position: relative;
  display: block;
  padding: 1.5px 0 1.5px 40px;
  cursor: pointer;
  @include font(16px, 19px);
  letter-spacing: 0.04em;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 24px;
    border: 0.7px solid rgba(159, 158, 158, 1);
    border-radius: 2px;
  }
}

.filter__checkbox {
  &:hover + label {
    &::before {
      border: 0.7px solid rgba(88, 87, 87, 1);
    }
  }

  &:active + label {
    &::before {
      border: 0.7px solid rgba(193, 193, 193, 1);
    }
  }

  &:checked + label {
    &::before {
      background: url(../../img/check-mark.svg) no-repeat center;
    }
  }
}

.filter__checkbox:disabled + label {
  color: rgba(221, 221, 221, 1);
  &::before {
    background-color: rgba(246, 243, 243, 1);
    border-color: rgba(246, 243, 243, 1);
  }
}
