.page-header {
  background-color: rgba(30, 9, 6, 0.15);
  flex: 0 1 auto;
}

.page-header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: $desktop-width;
  margin: 0 auto;
  padding: 0 44px 0 $desktop-padding;
  min-height: 110px;
}

.page-header__logo {
  width: 67px;
}

@media (max-width: $desktop-width) {
  .page-header {
    width: max-content;
  }
}
